<%- include('./partials/header')  %>

<body>
   <div class="container">
       <h2><%= msg %></h2>

       <form action="/edit-post" method="PUT"> 
        <div class="mb-3">
          <label for="post-title" class="form-label">Post Title</label>
          <input type="text" class="form-control" id="post-title" name="title">
        </div>
        <div class="mb-3">
          <label for="post-excerpt" class="form-label">Excerpt</label>
          <input type="text" class="form-control" id="post-excerpt" name="excerpt">
        </div>
        <div class="mb-3">
          <label for="post-excerpt" class="form-label">Body</label>
          <input type="textarea" class="form-control" id="post-body" name="body">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
   </div> 
   <%- include('./partials/footer')  %>
